.app {
  max-width: 1300px;
  min-height: 100vh;
  margin: auto;
  background-color: #f2f2f2;
  --color-main: #093149; // #969fe9;
  --box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.25);

  .header {
    padding: 20px 12vw;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    background-color: var(--color-main);
  }

  .appContent {
    padding: 70px 0;
    color: #737373;
    background-color: #f2f2f2;
    .titleContent {
      text-align: center;
      margin-bottom: 40px;
      font-size: 28px;
      font-weight: bold;
      color: var(--color-main);
    }
  }
}
