.app {
  .filter {
    text-align: center;
    margin-bottom: 25px;
    .filterBy {
      margin: 10px;
    }
    .homemadeSelect {
      display: inline-block;
      margin: 0 10px;
      text-align: left;

      .selectName {
        cursor: pointer;
        width: 150px;
        padding: 10px 20px;
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
        box-shadow: var(--box-shadow);

        .right {
          float: right;
          .infoNbSelect {
            font-size: 14px;
            color: #d9d9d9;
            background-color: var(--color-main);
            border-radius: 10px;
            padding: 2px 6px;
            margin-right: 8px;
          }
        }
      }
      .selectName:hover {
        background-color: #e6e6e6;
      }

      .containerElem {
        display: none;
        position: absolute;
        z-index: 1;
        min-width: 150px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
        box-shadow: var(--box-shadow);
        .topContainer {
          margin-bottom: 15px;
          .removeAll {
            cursor: pointer;
            float: right;
          }
          .removeAll:hover {
            color: var(--color-main);
          }
        }
        .elem {
          cursor: pointer;
          padding: 10px 14px;
          margin-bottom: 3px;
          background-color: #f2f2f2;
          border-radius: 4px;
          .check {
            svg {
              margin-right: 8px;
            }
          }
          .noCheck {
            margin-left: 24px;
          }
          .nb {
            margin-left: 5px;
          }
        }
        .elem.checked {
          color: #d9d9d9;
          background-color: var(--color-main);
        }
        .elem:hover {
          background-color: #e6e6e6;
        }
      }
      .containerElem.isOpen {
        display: block;
      }
    }
  }
}
