.wrapPagination {
  margin: auto;
  margin-top: 30px;
  min-width: 300px;
  text-align: center;
  .pagination {
    display: inline-block;
    padding: 0;
    background-color: #fff;
    // border: 1px solid #bfbfbf;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      border-right: 1px solid #bfbfbf;
      a {
        text-decoration: inherit;
        color: #737373;
      }
    }
    li:last-child {
      border: none;
    }
    li.active {
      a {
        color: #d9d9d9;
      }
      background-color: var(--color-main);
    }
    li:hover {
      background-color: #e6e6e6;
    }
  }
}
